
html{
    padding: 0;
    margin: 0;
}
.container{

    width: 1100px;
    height: 400px;
}

.containergen{
    padding: 50px;
    width: 1100px;
    height: 300px;
}


#topstreams .stream-title{
    font-size: 1.5em;
    color: darkred;
    padding:40px;
    
}

#topstreams .topstreams{
    display: grid;
    grid-template-columns: 800px 300px;
    grid-gap: 25px;
}

#topstreams .topstreams .stream{
    height: 350px;
    width: 800px;
    border: whitesmoke 2px solid;
}

#topstreams .topstreams .stream:hover{
    border: darkred 4px solid;
}

#topstreams .topstreams .stream-board{
    height: 100%;
    position: relative;
    border: black 2px solid;
    margin-top: 1px;
}

#topstreams .chat-section{
    height: 350px;
    width: 250px ;
    border: white 1px solid;
    color: white;
}

#topstreams .chat-section:hover{
    border: darkred 4px solid;
}


#recomendchanels .chanel-title{
    font-size: 1em;
    color: whitesmoke;
    padding: 20px;
}

#recomendchanels .chanels{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

#recomendchanels .chanels .chanel{
    height: 200px;
    width: 100%;
    border: whitesmoke solid 2px;
}

#recomendchanels .chanels .chanel:hover{
    border: 2px solid darkred;
}

#games .games-title{
    font-size: 1em;
    color: whitesmoke;
    padding: 20px;
}

#games .games-chanels{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

#games .games-chanels .game-chanel{
    height: 200px;
    width: 100%;
    border: whitesmoke solid 2px;
}

#games .games-chanels .game-chanel:hover{
    border: darkred 2px solid;
}

